# Data-Hub
## python assignment 04 - Numpy
### Iman Salehi

In [9]:
import numpy as np
import pandas as pd
import time

q1

In [3]:
tst_data = np.asarray([1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 1, 1, 0, 0, 0, 5])
tst_num = 2


def numpy_repeat_counter(arr, num):
    # uniq, freq = np.unique(tst_data, return_counts=True)
    return np.where(tst_data == tst_num)[0].size


numpy_repeat_counter(tst_data, tst_num)

5

q2

In [4]:
pandas_df = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6]
])

numpy_arr = pandas_df.to_numpy()
numpy_arr

df_again = pd.DataFrame(
    data=numpy_arr[0:, 0:]
)
df_again

   0  1  2
0  1  2  3
1  4  5  6

q3

In [5]:
# Is this a little hazy or difficult to understand? 'cat'-type was in pandas, and now we're going to make it in numerically based NumPy arrays!

tst_data = pd.DataFrame([
    [1, 1, 1, 2],
    [2, 2, 2, 2],
    [3, 3, 1, 1],
    [0, 0, 0, 5]
])
tst_data.dtypes  # dtype('int64')

cat_data = tst_data.astype('category')
cat_data.dtypes

0    category
1    category
2    category
3    category
dtype: object

q4

In [8]:
tst_data = np.asarray([1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 1, 1, 0, 0, 0, 5])
print(tst_data[::-1])
print(np.flip(tst_data))

[5 0 0 0 1 1 3 3 2 2 2 2 2 1 1 1]
[5 0 0 0 1 1 3 3 2 2 2 2 2 1 1 1]

q5

In [19]:
#  List
tic = time.perf_counter()
num = 10000000
lst1 = range(num)
lst2 = range(num)
lst3 = []
for a, b in zip(lst1, lst2):
    lst3.append(a*b)
toc = time.perf_counter()
print(f'Finished in {toc - tic:0.4f} seconds by List')

#  Numpy Array
tic = time.perf_counter()
np_list1 = np.arange(num)
np_list2 = np.arange(num)
np_list3 = np_list1 * np_list2
toc = time.perf_counter()
print(f'Finished in {toc - tic:0.4f} seconds by Numpy Array')

Finished in 1.5674 seconds by List
Finished in 0.0357 seconds by Numpy Array