# Data-Hub
## python assignment 04 - Numpy
### Iman Salehi

In [2]:
import numpy as np
import pandas as pd

q1

In [3]:
tst_data = np.asarray([1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 1, 1, 0, 0, 0, 5])
tst_num = 2


def numpy_repeat_counter(arr, num):
    # uniq, freq = np.unique(tst_data, return_counts=True)
    return np.where(tst_data == tst_num)[0].size


numpy_repeat_counter(tst_data, tst_num)

5

q2

In [4]:
pandas_df = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6]
])

numpy_arr = pandas_df.to_numpy()
numpy_arr

df_again = pd.DataFrame(
    data=numpy_arr[0:, 0:]
)
df_again

   0  1  2
0  1  2  3
1  4  5  6

q3

In [5]:
# Is this a little hazy or difficult to understand? 'cat'-type was in pandas, and now we're going to make it in numerically based NumPy arrays!

tst_data = pd.DataFrame([
    [1, 1, 1, 2],
    [2, 2, 2, 2],
    [3, 3, 1, 1],
    [0, 0, 0, 5]
])
tst_data.dtypes  # dtype('int64')

cat_data = tst_data.astype('category')
cat_data.dtypes

0    category
1    category
2    category
3    category
dtype: object

q4

In [8]:
tst_data = np.asarray([1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 1, 1, 0, 0, 0, 5])
print(tst_data[::-1])
print(np.flip(tst_data))

[5 0 0 0 1 1 3 3 2 2 2 2 2 1 1 1]
[5 0 0 0 1 1 3 3 2 2 2 2 2 1 1 1]

q5